.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5% 25%;
    box-sizing: border-box;
    font-size: calc(10px + 1vmin);
    color: white;
}

.App-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #80808080;
    padding: 5px 0;
}

.App-main {
    padding: 20px 0;
    box-sizing: border-box;
}

.App-comment {
    display: flex;
    padding: 3% 0;
}

.App-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.App-childComment {
    display: flex;
    padding: 3% 0 3% 10%;
}
